{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'base_admin.html.twig' %}
{% block title %}Rentals | Pricing{% endblock %}
{% block content %}
<div class="content">
    {{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}
    {{ form_errors(form) }}
	<div class="content-header">
		<span><i class="fa fa-fw fa-universal-access"></i> Rentals / <a href="{{ path('admin_rental') }}">Page</a> / Edit Pricing Group Items
		<div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
	</div>
	<div class="content-body">
   	    {{ include('alerts.html.twig') }}
		<div class="arch-table">
			<div class="details" id="details">
                {{ form_row(form.name) }}
                {{ form_row(form.items) }}
                <hr />
                <label for="variants">Variants</label>
                <p>
                	Name: Use '|' to add a second line<br />
                	Prices: Tags from 1 day to 7 days, can add up to 7 tags</p>
                <fieldset class="form-group">
                    <div class="clearfix"></div>
                    <ul id="variants" class="list-unstyled" data-prototype="{{ form_widget(form.variants.vars.prototype)|e('html_attr') }}">
                        {% for variant in form.variants %}
                            <li class="tag-group">
                                {{ form_row(variant.name) }}
                                {{ form_row(variant.prices) }}
                            </li>
                        {% endfor %}
                    </ul>
                </fieldset>
  			    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
   			    <a href="{{ path('admin_page_boot') }}" class="btn btn-default">Cancel</a>
  			</div>
		</div>
	</div>
    {{ form_end(form) }}
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/tags.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/tags.js') }}"></script>
<script>
$(function(){
	$('#menu-rental').addClass('active');
	$('#sub-menu-rental').removeClass('hidden');
	$('#submenu-rental').addClass('active');
});

var $sectionHolder;

var $addSectionLink = $('<a href="#" class="add_item_link btn btn-default">Add Variant</a>');
var $newSectionLi = $('<li class="tag-group"></li>').append($addSectionLink);

$(document).ready(function() {
    $sectionHolder = $('ul#variants');

    $sectionHolder.find('li').each(function() {
        addItemFormDeleteLink($(this));
    });

    $sectionHolder.append($newSectionLi);

    $sectionHolder.data('index', $sectionHolder.find(':input').length);

    $addSectionLink.on('click', function(e) {
        e.preventDefault();

        addItemForm($sectionHolder, $newSectionLi);
    });

});

function addItemForm($collectionHolder, $newLinkLi, $col = '') {
    var prototype = $collectionHolder.data('prototype');

    var index = $collectionHolder.data('index');

    var newForm = prototype.replace(/__name__/g, index);

    $collectionHolder.data('index', index + 1);

    var $newFormLi = $('<li class="tag-group '+ $col +'"></li>').append(newForm);
    $newLinkLi.before($newFormLi);

    addItemFormDeleteLink($newFormLi);

    $('.tags').tagsInput( {
        'defaultText':'Add pricing',
        'width':'100%',
        'height':'44px'
    });
}

function addItemFormDeleteLink($itemFormLi) {
    var $removeFormA = $('<a href="#" class="btn btn-default btn-sm mb-15">Remove this item</a>');
    $itemFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $itemFormLi.remove();
    });
}

$('.tags').tagsInput( {
    'defaultText':'Add pricing',
    'width':'100%',
    'height':'44px'
});

</script>
{% endblock %}