{% set cart = app.session.get('cart') %}
{% set wishlist = app.session.get('wishlist') %}
<section id="header">
	<form method="get">
    <div class="c-toolbar">
    	<div class="o-wrapper o-box--flush">
    		<div class="c-call-top">
    			Call Us: 03 318 8433
    		</div>
        	<div class="c-toolbar-right">
                {% if logged %}
                    <a href="/admin" class="u-tooltip" title="Admin">Account</a>
                    <a href="/logout" class="u-no-border u-tooltip" title="Logout">Logout</a>
                {% else %}
                    <a href="#" data-toggle="modal" data-target="#loginModal">Sign In</a>
                    <a href="/account/register" class="u-no-border">Join</a>
                {% endif %}
        		<input type="text" name="search" class="c-search u-form-control" />
        		<div>
            		<div class="c-box-icon heart" title="Wishlist">
            			<a href="#" class="toolbar-link" id="wishlist">&nbsp;</a>
            		</div>
            		<div class="c-box-icon cart" title="Shopping Bag">
            			<a href="#" class="toolbar-link" id="cart">&nbsp;</a>
            			<div id="in_cart">{{ cart|length }}</div>
            		</div>
            		<div class="c-box-icon location" title="Find Us">
            			<a href="/pages/contact#find-us" id="find-us">&nbsp;</a>
            		</div>
            		<div class="c-box-icon account" title="Contact">
            			<a href="/pages/contact" class="toolbar-link" id="contact">&nbsp;</a>
	        		</div>
        		</div>
        	</div>
        	<div class="c-toolbar-popup" id="popup-wishlist">
        		<div class="o-wishlist-items">
            	{% if wishlist|length == 0 %}
            		<div class="u-pl-40 u-pb-40">Add items to your wishlist.</div>
            	{% else %}
            		{% for key, product in wishlist %}
            		<div class="o-wishlist-item">
            			<input type="hidden" class="o-wishlist-key" value="{{ key }}" />
                		<div class="o-wishlist-item-image"><a href="{{ path('product', {'handle':product.handle|lower}) }}"><img src="{{ asset('images/products/thumb/'~ product.image) }}" alt="{{ product.name }}" /></a></div>
                		<div class="o-wishlist-item-details">
                			<b><a href="{{ path('product', {'handle':product.handle|lower}) }}">{{ product.name }}</a></b>
                			<div>
                				PRICE: ${{ product.price|number_format(2,'.',',') }} 
                				{% if (product.discount_price > 0) %}
                					<span class="{% if product.discount_type == 'VIP' %}vip">VIP:{% else %}sale">SALE:{% endif %} ${{ product.discount_price|number_format(2,'.',',') }}</span>
                				{% endif %}
                			</div>
                		</div>
            			<div class="o-wishlist-item-remove">
            				<img src="{{ asset('images/icon-cart-remove.png') }}" alt="Remove" title="Remove" />
            			</div>
            		</div>
            		{% endfor %}
            	{% endif %}
        		</div>
        	</div>
        	<div class="c-toolbar-popup o-cart" id="popup-cart">
        		<div class="o-cart-items">
            	{% if cart|length == 0 %}
        			<div class="u-pl-40 u-pb-40">Your shopping cart is empty.</div>
            	{% else %}
            		{% for key, product in cart %}
            		<div class="o-cart-item">
            			<input type="hidden" class="o-cart-key" value="{{ key }}" />
            			<input type="hidden" class="o-cart-price" value="{% if logged and product.discount_price > 0 %}{{ product.discount_price * product.qty }}{% else %}{{ product.price * product.qty }}{% endif %}" />
                		<div class="o-cart-item-image"><a href="{{ path('product', {'handle':product.handle|lower}) }}"><img src="{{ asset('images/products/thumb/'~ product.image) }}" alt="{{ product.name }}" /></a></div>
                		<div class="o-cart-item-details">
                			<b><a href="{{ path('product', {'handle':product.handle|lower}) }}">{{ product.name }}{% if product.qty > 1 %} x {{ product.qty }}{% endif %}</a></b>
                			<div>
                				PRICE: ${{ product.price|number_format(2,'.',',') }} 
                				{% if (product.discount_price > 0) %}
                					<span class="{% if product.discount_type == 'VIP' %}vip">VIP:{% else %}sale">SALE:{% endif %} ${{ product.discount_price|number_format(2,'.',',') }}</span>
                				{% endif %}
                			</div>
            				{% for variant in product.variant %}
            					<div>{{ variant.name ~': '~ variant.value }}</div>
            				{% endfor %}
                		</div>
            			<div class="o-cart-item-remove">
            				<img src="{{ asset('images/icon-cart-remove.png') }}" alt="Remove" title="Remove" />
            			</div>
            		</div>
            		{% endfor %}
            	{% endif %}
        		</div>
        		<div class="o-cart-total u-hidden">
        			<h3>SUBTOTAL: <span class="o-cart-subtotal"></span></h3>
        			<a href="{{ path('checkout') }}" class="c-btn c-btn--checkout">REVIEW & CHECKOUT</a>
	`        		<div class="shipping u-hidden">You qualify for free shipping, yuss!</div>
        		</div>
        	</div>
        	<div class="c-toolbar-popup" id="popup-contact">
        		<ul class="o-list-bare">
        			<li><a href="/pages/vip-club">VIP Pricing</a></li>
        			<li><a href="/account/register">Join</a></li>
        			<li><a href="#" data-toggle="modal" data-target="#loginModal">Sign In</a></li>
        			<li><a href="/pages/contact">Contact</a></li>
        		</ul>
        	</div>
    	</div>
    </div>
    </form>
{{ render(controller('AppBundle:Action:mainMenu')) }}
</section>