{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'base_admin.html.twig' %}
{% block title %}Collections{% endblock %}
{% block menu_sub %}
	{{ include('admin/submenu_products.html.twig') }}
{% endblock %}
{% block content %}
<div class="content">
	<div class="content-header">
		<span><i class="fa fa-fw fa-tags"></i> <a href="{{ path('admin_product') }}">Products</a> / </span> Collections
		<div class="pull-right">
            <a class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Collection</a>
        </div>
	</div>
	<div class="content-body">
   	    {{ include('alerts.html.twig') }}
		<div class="arch-table">
			<div class="details">
				<p>Collections are categories of product types. Only active collections are shown in menus.</p>
				<form method="post">
				<table class="table table-striped">
					<thead>
						<tr>
    						<th class="check">
    							<div class="check-box">
   	    							<input type="checkbox" id="check-all" />
        							<div class="with-checked">
    	    							<div id="selected"></div>
                                		<div class="dropdown delete">
                                			<a id="deleteConfirm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Disable selected</a>
                                          	<div class="dropdown-menu delete-box" aria-labelledby="deleteConfirm">
                                            	<h4>Confirm</h4>
                                            	<p>Disable selected Collections?</p>
                                            	<input type="submit" class="btn btn-primary" value="Proceed" />
                                          	</div>
                                        </div>
        							</div>
    							</div>
    						</th>
    						<th class="thumb"></th>
    						<th>Name</th>
    						<th class="th-toggle">Active</th>
						</tr>
					</thead>
					<tbody>
					{% for item in items %}
						<tr class="order">
							<td><input type="checkbox" class="item" name="items[]" value="{{ item.id }}" /></td>
							<td><img src="{% if item.image %}{{ asset('images/collections/thumb/'~ item.image) }}{% else %}{{ asset('images/no-image.png') }}{% endif %}" class="img-responsive" alt="{{ item.name }}" /></td>
							<td>
								<a href="#" class="more-info" id="{{ item.id }}"><i class="fa fa-caret-right"></i>{{ item.name }}</a> 
							</td>
							<td align="center">
								<a href="javascript:;" class="toggle-active">
									<i class="fa fa-star{% if item.isActive == 0 %}-o{% endif %}"></i>
								</a>
							</td>
						</tr>
						<tr class="order-details {{ item.id }}">
							<td colspan="5" class="ajax-content"></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
  <div class="modal-dialog" role="document">
    {{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}
    {{ form_errors(form) }}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addModalLabel">Add Collection</h4>
      </div>
      <div class="modal-body">
  		<div class="row">
  			<div class="col-md-6">
                {{ form_row(form.name) }}
  			</div>
  			<div class="col-md-6">
                {{ form_row(form.is_active) }}
  			</div>
  		</div>
        {{ form_row(form.meta_title) }}
        {{ form_row(form.meta_description) }}
  		<div class="row">
  			<div class="col-md-6">
                {{ form_row(form.image) }}
  			</div>
  		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
<input type="hidden" id="mode" value="collection" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/notify.min.js') }}"></script>
<script>
$(function(){
	$('#menu-products').addClass('active');
	$('#submenu-collections').addClass('active');
});

$('.more-info').click(function(){
	$(this).find('i').toggleClass('fa-caret-down').toggleClass('fa-caret-right');

	id = $(this).attr('id');
	$('.'+ id).fadeToggle();
	ajax_content = $('.'+ id).find('.ajax-content');

	if (ajax_content.html() == '') {
    	ajax_content.html('<i class="fa fa-2x fa-refresh fa-spin"></i><span class="sr-only">Loading...</span>')
        $.ajax({
            url: "/admin/collection-list/"+ id,
            data: "mode="+ mode,
            success: function (data) {
                ajax_content.hide().html(data).slideDown();
            }
        });
	}
});

var mode = $('#mode').val();
</script>
<script src="{{ asset('js/checkbox.js') }}"></script>
<script src="{{ asset('js/ajax-toggle.js?id='~ 'now'|date('U')) }}"></script>
{% endblock %}