<div class="row">
	<div class="col-md-12"><a href="{{ path('admin_collection_view', {'id':item.id}) }}" class="btn btn-default">Edit Collection</a></div>
</div>
{% if item.metaTitle %}
<div class="row">
	<div class="col-md-12">
		<p>
			<b>Meta Title</b><br />
			{{ item.metaTitle }}
		</p>
	</div>
</div>
{% endif %}
{% if item.metaDescription %}
<div class="row">
	<div class="col-md-12">
		<p>
			<b>Meta Description</b><br />
			{{ item.metaDescription }}
		</p>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-12">
{% for type in items %}
	<p><a href="{{ path('admin_product_type_edit', {'id':type.id}) }}">{{ type.name }}</a></p>
{% endfor %}
	</div>
</div>