{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'base_admin.html.twig' %}
{% block title %}{{ header }}{% endblock %}
{% block menu_sub %}
	{{ include('admin/submenu_pages.html.twig') }}
{% endblock %}
{% block content %}
<div class="content">
    {{ form_start(form) }}
	<div class="content-header">
		<span><i class="fa fa-fw fa-file-text"></i> Pages /</span> {{ header }}
		<div class="pull-right">
            <button class="btn btn-primary">Save</button>
        </div>
	</div>
	<div class="content-body">
   	    {{ include('alerts.html.twig') }}
		<div class="arch-table">
			<div class="details">
                {{ form_errors(form) }}
                <div class="animated fadeInUp">
                    {{ form_row(form.title) }}
                    {{ form_row(form.alias) }}
                    {% if form.vars.value.core != 1 %}<a href="javascript:" id="edit_alias" class="btn btn-xs btn-default">Edit</a>{% endif %}
					<hr />
                    {{ form_row(form.content) }} 
					<hr />
                    {{ form_row(form.meta_title) }}
                    {{ form_row(form.meta_description) }}
                    {{ form_widget(form.save, {'attr':{'class':'btn-primary'}}) }} <a href="{{ path('admin_content') }}" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
$(function(){
	$('#menu-pages').addClass('active');
	$('#submenu-page').addClass('active');
});
{% if form.vars.value.core != 1 %}
$('#content_title').keyup(function(){
	if ($('#content_alias').prop('readonly'))
		$('#content_alias').val($(this).val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'));
});
$('#edit_alias').click(function(){
	if ($('#content_alias').prop('readonly'))
		$('#content_alias').prop('readonly', false);
	else
		$('#content_alias').prop('readonly', true);
});
{% endif %}
</script>
{% endblock %}