{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% extends 'base_admin.html.twig' %}
{% block body %}
    <div><a href="{{ path('admin_menu_page', {'id': menu_id }) }}" class="btn btn-primary">View All</a> <a href="{{ path('admin_menu_page_add', { 'id': menu_id }) }}" class="btn btn-primary">New Menu Item</a> </div>
    <br />
    {{ form_start(form, { attr: {'id':'form'} }) }}
    {{ form_errors(form) }}
<div class="animated fadeInUp row">
    <div class="col-md-6">
    <fieldset class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_label(form.page_type, 'Page Type') }}
        {{ form_widget(form.page_type, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.page_type) }}
    </fieldset>
    <fieldset class="form-group">
        <div id="pageTypeIdDiv">
        {{ form_label(form.page_type_id, 'Page') }}
        {{ form_widget(form.page_type_id, {'attr': {'class': 'form-control', 'placeholder': 'Select Page Type First'}}) }}
        </div>
        {{ form_errors(form.page_type_id) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_label(form.parent_id, 'Parent') }}
        {{ form_widget(form.parent_id, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.parent_id) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_label(form.sort_order) }}
        <div id="parentIdDiv">
        {{ form_widget(form.sort_order, {'attr': {'class': 'form-control'}}) }}
            <input type="text" readonly placeholder="Save Menu Item First" class="form-control" />
        </div>
        {{ form_errors(form.sort_order) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_widget(form.save) }} {{ form_widget(form.saveAndAdd) }}
    </fieldset>
    </div>
</div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#menu_item_page_type').change(function(event) {
            var id = $('#menu_item_page_type').val();
            var id2 = $('#menu_item_page_type_id').val();
            $('#pageTypeIdDiv').html('<i class="fa fa-refresh fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span>');

            $.ajax({
                type: "POST",
                url: "{{ path('ajax_page_type_items') }}",
                data: 'id='+id+'&id2='+id2,
                success: function (data) {
                    $('#pageTypeIdDiv').html(data);
                }
            })
        });
    </script>
{% endblock %}


