{% extends 'base_admin.html.twig' %}
{% block body %}
    <form method="post" name="delete">
    <div><a href="{{ path('admin_menu_add') }}" class="btn btn-primary">New Menu</a> <input type="submit" name="submit" class="btn btn-primary" value="Delete"></div>
    <br />
    <div class="clear-fix"></div>
    <table class="table table-bordered table-hover table-responsive mt-10">
        <thead>
        <tr>
            <th width="30"><input type="checkbox" id="checkAll"></th>
            <th><a href="?sort=title{% if app.request.query.get('sort') == 'title' %}&order={% if app.request.query.get('order') == 'desc' %}asc{% else %}desc{% endif %}{% endif %}">Title</a>
            </th>
            <th>Pages</th>
        </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td><input type="checkbox" name="delete[{{ content.id }}]" value="{{ content.id }}"></td>
                <td><a href="/admin/menu/edit/{{ content.id }}/">{{ content.title }}</a></td>
                <td><a href="/admin/menu/page/{{ content.id }}/">Assign Pages</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $("#checkAll").click(function(){
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
</script>
{% endblock %}

