{% extends 'base_admin.html.twig' %}
{% block title %}Pre-Sell Text Templates - Edit{% endblock %}
{% block content %}
<div class="content">
	<form method="post">
	<div class="content-header">
		<span><i class="fa fa-fw fa-tags"></i> <a href="{{ path('admin_product') }}">Products</a> / Pre-Sell Text Templates
		<div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
	</div>
	<div class="content-body">
   	    {{ include('alerts.html.twig') }}
		<div class="arch-table">
			<div class="details" id="details">
				<div class="row">
					{% for item in items %}
					<div class="col-md-12">
						<label for="content-{{ loop.index }}">Template {{ loop.index }}</label>
						<input type="text" id="content-{{ loop.index }}" name="content[]" value="{{ item.content }}" class="form-control" />
						<hr />
					</div>
					{% endfor %}
					<div class="col-md-12">
						<input type="submit" class="btn btn-primary" value="Save" />
					</div>
				</div>
  			</div>
		</div>
	</div>
	</form>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
$(function(){
	$('#menu-products').addClass('active');
	$('#sub-menu-products').removeClass('hidden');
	$('#submenu-pre-sell-text').addClass('active');
});
</script>
{% endblock %}