{% form_theme form 'form_errors.html.twig' %}
{% extends 'base_admin.html.twig' %}
{% block title %}Product Types{% endblock %}
{% block menu_sub %}
	{{ include('admin/submenu_products.html.twig') }}
{% endblock %}
{% block content %}
<div class="content">
	<div class="content-header">
		<span><i class="fa fa-fw fa-tags"></i> <a href="{{ path('admin_product') }}">Products</a> / </span> Product Types
		<div class="pull-right">
            <a class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Product Type</a>
        </div>
	</div>
	<div class="content-body">
   	    {{ include('alerts.html.twig') }}
		<div class="arch-table">
			<div class="details">
				<p>Only active product types are shown in menus.</p>
				<form method="post">
				<table class="table table-striped">
					<thead>
						<tr>
    						<th class="check">
    							<div class="check-box">
   	    							<input type="checkbox" id="check-all" />
        							<div class="with-checked">
    	    							<div id="selected"></div>
                                		<div class="dropdown delete">
                                			<a id="deleteConfirm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Disable selected</a>
                                          	<div class="dropdown-menu delete-box" aria-labelledby="deleteConfirm">
                                            	<h4>Confirm</h4>
                                            	<p>Disable selected Product Types?</p>
                                            	<input type="submit" class="btn btn-primary" value="Proceed" />
                                          	</div>
                                        </div>
        							</div>
    							</div>
    						</th>
    						<th class="thumb"></th>
    						<th>Name</th>
    						<th>Collection</th>
    						<th class="th-toggle">Active</th>
						</tr>
					</thead>
					<tbody>
					{% for item in items %}
						<tr>
							<td><input type="checkbox" class="item" name="items[]" value="{{ item.id }}" /></td>
							<td><img src="{% if item.image %}{{ asset('images/product-types/thumb/'~ item.image) }}{% else %}{{ asset('images/no-image.png') }}{% endif %}" class="img-responsive" alt="{{ item.name }}" /></td>
							<td>
								<a href="{{ path('admin_product_type_edit',{'id':item.id})}}">{{ item.name }}</a>
							</td>
							<td>{% if item.collectionId != null %}<a href="{{ path('admin_collection_view', {'id':item.collection.id})}}">{{ item.collection.name }}</a>{% else %}-{% endif %}</td>
							<td align="center">
								<a href="javascript:;" class="toggle-active">
									<i class="fa fa-star{% if item.isActive == 0 %}-o{% endif %}"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
  <div class="modal-dialog" role="document">
    {{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}
    {{ form_errors(form) }}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addModalLabel">Add Product Type</h4>
      </div>
      <div class="modal-body">
  		<div class="row">
  			<div class="col-md-6">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
  			</div>
  			<div class="col-md-6">
                {{ form_label(form.collection) }}
                {{ form_widget(form.collection, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.collection) }}
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-12">
                {{ form_label(form.meta_title) }}
                {{ form_widget(form.meta_title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.meta_title) }}
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-12">
                {{ form_label(form.meta_description) }}
                {{ form_widget(form.meta_description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.meta_description) }}
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-6">
                {{ form_label(form.image) }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.image) }}
  			</div>
  			<div class="col-md-6">
                {{ form_label(form.is_active) }}
                {{ form_widget(form.is_active, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.is_active) }}
  			</div>
  		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
<input type="hidden" id="mode" value="product_type" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/notify.min.js') }}"></script>
<script>
$(function(){
	$('#menu-products').addClass('active');
	$('#submenu-product-types').addClass('active');
});

$('#check-all').click(function(){
	$(".item").prop('checked', this.checked);
	if (this.checked) {
		$('thead').addClass('active');
		$('.with-checked').show();
		countSelected();
	}
	else {
		$('thead').removeClass('active');
		$('.with-checked').hide();
	}
});

$(".item").click(function(){
	countSelected();
});

function countSelected() {
	var ctr = 0;
	var item = ' product type';

	$(".item").each(function(){
		if (this.checked) 
			ctr++;
	});

	if (ctr > 0) {
		if (ctr > 1) 
			item += 's';
		$('#selected').html(ctr + item + ' selected');
		$('thead').addClass('active');
		$('.with-checked').show();
	}
	else {
		$('thead').removeClass('active');
		$('.with-checked').hide();
	}
}


var mode = $('#mode').val();
</script>
<script src="{{ asset('js/ajax-toggle.js?id='~ 'now'|date('U')) }}"></script>
{% endblock %}