<p><b>Technical Ability</b><br />{{ criteria[1] }}</p>
<p><b>Experience</b><br />{{ criteria[2] }}</p>
<p><b>Approach</b><br />{{ criteria[3] }}</p>
<p><b>Favourite Hangouts</b><br />{{ criteria[4]|join(', ') }}</p>
<p><b>Favourite Flavour</b><br />{{ criteria[5] }}</p>
<p><b>Specialist of All Rounder</b><br />{{ criteria[6] }}</p>
<p><b>Fat or Skinny</b><br />{{ criteria[7] }}</p>
<p><b>Retired Flotilla</b><br />{{ item.retiredFlotilla }}</p>
<p><b>Likes & Dislikes</b><br />{{ item.likesDislikes }}</p>
<p><b>Expectations</b><br />{{ item.expectations }}</p>
