	<div class="menu-sub animated slideInLeft hidden" id="sub-menu-settings">
		<ul class="list-unstyled">
			<li><a href="{{ path('admin_settings', {'mode':'general'}) }}" id="submenu-general">General</a></li>
			<li><a href="{{ path('admin_settings', {'mode':'vend-api'}) }}" id="submenu-vend-api">Vend API</a></li>
			<li><a href="{{ path('admin_tax') }}" id="submenu-taxes">Sales Taxes</a></li>
			<li><a href="{{ path('admin_outlet') }}" id="submenu-outlets">Outlets</a></li>
			<li><a href="{{ path('admin_register') }}" id="submenu-registers">Registers</a></li>
			<li><a href="{{ path('admin_payment_type') }}" id="submenu-payment-types">Payment Types</a></li>
			<li><a href="{{ path('admin_shipping') }}" id="submenu-shipping">Shipping</a></li>
		</ul>
	</div>
