	<div class="menu-sub animated slideInLeft hidden" id="sub-menu-pages">
		<ul class="list-unstyled">
			<li><a href="{{ path('admin_page_home') }}" id="submenu-home">Home Page</a></li>
			<li><a href="{{ path('admin_blog') }}" id="submenu-blog">Blog</a></li>
			<li><a href="{{ path('admin_page_boot') }}" id="submenu-boot">Custom Boot Fitting</a></li>
			<li><a href="{{ path('admin_page_about') }}" id="submenu-about">About</a></li>
			<li><a href="{{ path('admin_page') }}" id="submenu-pages">Pages</a></li>
		</ul>
	</div>
