<div class="menu-sub animated slideInLeft hidden" id="sub-menu-products">
	<ul class="list-unstyled">
		<li><a href="{{ path('admin_product') }}" id="submenu-products">Products</a></li>
		<li><a href="{{ path('admin_collection') }}" id="submenu-collections">Collections</a></li>
		<li><a href="{{ path('admin_category') }}" id="submenu-categories">Categories</a></li>
		<li><a href="{{ path('admin_discounter') }}" id="submenu-discounter">Discounts</a></li>
		<li><a href="{{ path('admin_brand') }}" id="submenu-brands">Brands</a></li>
		<li><a href="{{ path('admin_product_type') }}" id="submenu-product-types">Types</a></li>
		<li><a href="{{ path('admin_supplier') }}" id="submenu-suppliers">Suppliers</a></li>
		<li><a href="{{ path('admin_tag') }}" id="submenu-tags">Tags</a></li>
		<li><a href="{{ path('admin_pre_sell_text') }}" id="submenu-pre-sell-text">Pre-Sell Templates</a></li>
	</ul>
</div>
