{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'base_admin.html.twig' %}
{% block title %}Tags - Edit{% endblock %}
{% block menu_sub %}
	{{ include('admin/submenu_products.html.twig') }}
{% endblock %}
{% block content %}
<div class="content">
    {{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}
    {{ form_errors(form) }}
	<div class="content-header">
		<span><i class="fa fa-fw fa-tags"></i> <a href="{{ path('admin_product') }}">Products</a> / <a href="{{ path('admin_tag') }}">Tags</a> / </span> {{ item.name }}
		<div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
	</div>
	<div class="content-body">
   	    {{ include('alerts.html.twig') }}
		<div class="arch-table">
			<div class="details">
          		<div class="row">
          			<div class="col-md-6">
                        {{ form_row(form.name) }}
          			</div>
          			<div class="col-md-6">
                        {{ form_row(form.is_active) }}
          			</div>
          		</div>
          		<div class="row">
          			<div class="col-md-12">
          			    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }} 
          			    <a href="{{ path('admin_tag') }}" class="btn btn-default">Cancel</a>
          			</div>
          		</div>
  			</div>
		</div>
	</div>
    {{ form_end(form) }}
</div>
{% endblock %}