{% extends 'base.html.twig' %}
{% block title %}Change Password | Gnomes Alpine Sports{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('css/member.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="o-layout--flush c-page u-ph-25-xs">
	<div class="c-breadcrumbs">
		<a href="/">Home</a> / <a href="{{ path('member') }}">VIP Customer Page</a> / Change Password 
	</div>
	{% include('flash.html.twig') %}
	<div class="o-layout--flush c-page--member u-ml-60">
		<div class="o-layout__item u-1/4@desktop u-1/2@tablet u-1/1@mobile u-pl-60">
			{% include('member/menu.html.twig') %}
		</div><div class="o-layout__item u-3/4@desktop u-1/2@tablet u-1/1@mobile u-pl-60">
    		<h1>CHANGE YOUR PASSWORD</h1>
    		<hr />
            {{ form_start(form) }}
            {{ form_row(form.current_password, {'attr':{'class':'u-form-control'}}) }}
            {{ form_row(form.new_password_1, {'attr':{'class':'u-form-control'}}) }}
            {{ form_row(form.new_password_2, {'attr':{'class':'u-form-control'}}) }}
            {{ form_row(form.save, {'attr':{'class':'c-btn c-btn--gray c-btn--wide'}}) }}
            {{ form_end(form) }}
        </div>
	</div>
</div>

{% endblock %}