{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h1>Login</h1>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<p>You are currently logged in as {{ app.user.username }}.</p>
    <div class="list-group">
        <div class="list-group-item"><a href="/profile/change-password">Change Password</a></div>
        <div class="list-group-item"><a href="/logout">Logout</a></div>
    </div>
{% else %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
    <fieldset class="form-group">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />

        <label for="password" class="mt-10">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" class="form-control" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me" class="mt-10">{{ 'security.login.remember_me'|trans }}</label>

        <input type="hidden" name="_target_path" value="admin" />
        <br /><input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
        <a href="/resetting/request" class="btn btn-default">Forgot your password?</a>
    </fieldset>
    </form>
{% endif %}
{% endblock fos_user_content %}
