<p><b>{{ store_name }}</b></p>
<p>A recently registered customer at Vend has an email address that is already in use. Website registration has been cancelled.</p>
<p>
Name: {{ item.first_name }} {{ item.last_name }}<br />
Email: {{ item.email }}<br />
Phone: {{ item.phone }}
</p>  